# *************************************
#
#   Algoliasearch
#   -> Search functionality
#
# *************************************

@Orientation.algoliasearch = ( initIndex ) ->
  if (typeof autocomplete != 'undefined')
    algoliaAppId = '<%= ENV.fetch("ALGOLIA_APP_ID") %>'
    algoliaSearchOnlyApiKey = '<%= ENV.fetch("ALGOLIA_SEARCH_ONLY_API_KEY") %>'

    client = algoliasearch(algoliaAppId, algoliaSearchOnlyApiKey)
    index = client.initIndex('Article')

    autocomplete_suggestion_template = {
      suggestion: (hit) ->
        return '<div class="search-result-title">' +
        hit._highlightResult.title.value + '</div>' +
        '<div class="search-result-content-snippet">"...' +
        hit._snippetResult.content.value + '..."</div>'
    }

    ac = autocomplete('#search', { hint: true }, [
      {
        source: autocomplete.sources.hits(index, Orientation.searchOptions()),
        displayKey: 'title',
        templates: autocomplete_suggestion_template
      }
    ])

    ac.on('autocomplete:selected', (event, suggestion, dataset) ->
      $('#search').trigger('submit')
    )
