- unless articles.empty?
  .g.collection
    - articles.each do |article|
      .g-b.g-b--m--1of2.g-b--l--1of3.collection-item
        = link_to article do
          .card.card--highlight.guide
            .guide-content
              %h2.guide-title= article.title
