- @category.errors.full_messages.each do |error|
  %p.bulletin.bulletin--warning= error

%section.row
  .cell.well.well--l

    = render partial: 'form', locals: { label_text: 'Create a New Team', button_text: 'Create Team' }
