.row.row--highlight.row--pattern
  .cell.well.well--l
    %h1.tci.tac= @category.label

.row
  .section
    = render 'categories/articles', articles: @category_articles

    - if admin_user?
      = link_to 'Edit Department', edit_category_url( @category ), class: 'btn btn--a',
        data: { shortcut: 'e' }
