.row.row--highlight.row--pattern
  .cell.well.well--l

    %h1.tci.tac= @category.label

%section.row
  .cell.well.well--l
    = render 'categories/articles', articles: @category_articles
    = link_to 'Edit Team', edit_category_url( @category ), class: 'btn btn--a',
      data: { shortcut: 'e' }
